@if (food) {
<mat-card class="w-96">
  <img mat-card-image src="{{food.image}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-card-title class="!pt-4 !text-lg !font-bold">{{food.name | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{food.price | currency:'MXN'}} | {{food.category | titlecase}}</mat-card-subtitle>
    <p>
      {{food.descripcion}}
    </p>
  </mat-card-content>
  <mat-card-actions class="flex gap-4">
    <button mat-raised-button color="primary" [routerLink]="['/food/form', food.id]"> Actualizar </button>
    <button mat-raised-button color="warn" (click)="deleteFood(food)"> Eliminar </button>
    <button mat-raised-button color="accent" [routerLink]="['/food/details-food', food.id]"> Ver más </button>
  </mat-card-actions>
</mat-card>
}