@if (food) {
  <mat-card class="w-96">
    <img mat-card-image src="{{food.image}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title class="!pt-4 !text-lg !font-bold">{{ food.name }}</mat-card-title>
      <mat-card-subtitle>{{ food.price | currency:'MXN' }} | {{ food.category | titlecase }}</mat-card-subtitle>
      <p>{{ food.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>ME ENCANTA</button>
      <button mat-button></button>
      <button mat-button></button>
      <button mat-button>COMPARTIR</button>
    </mat-card-actions>
  </mat-card>
}
