<mat-toolbar color="primary">
  <button (click)="open()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="flex-auto"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!--   CONTENEDOR Y SIDEBAR   -->
<mat-drawer-container class="w-full h-full">
  <mat-drawer mode="side" [opened]="opened" class="w-70 px-2 pt-16">
    <!--   MENÚ DE OPCIONES   -->
    <mat-list>
      @for (link of links; track link) {
        <mat-list-item [routerLink]="link.routerLink">
          <mat-icon matListItemIcon>{{link.icon}}</mat-icon>
          <h3 matListItemTitle>{{link.label}}</h3>
        </mat-list-item>
      }
    </mat-list>  
  </mat-drawer>
  <mat-drawer-content class="p-10">
    <!--  RUTAS  -->
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>

